<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
</head>
<body>
  <h1>{{ meta.title }}</h1>
  <div class="posts">
    {% for post in posts %}
      <div class="post" data-id="{{ post.id }}">
        <div class="date">{{ post.date}}</div>
        <h2 class="title">{{ post.title }}</h2>
        <div class="author">{{ post.author }}</div>
        <div class="body">{{ post.body }}</div>
      </div>
    {% endfor %}
  </div>
</body>
</html>